*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

body{
    font-family: 'PT Sans', sans-serif;
}

header{
    width: 100%;

    padding: 10px 0;

    background-color: #0084FD;
    color: white;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navlinks ul li{

    visibility: hidden;
    font-size: 12px;

    list-style-type: none;
}

/* FINE NAVBAR */

/* PRIMA SEZIONE */

.row{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.card-inner{
    padding-top: 50px;
    padding-bottom: 80px;

}

.card-inner h3{
    color: #0084FD;
    
}

.mg-b{
    margin-bottom:25px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 100%;
    flex-wrap: wrap;

    padding: 30px 25px 0;
    border-radius: 20px;
    background-color: #B5DDFF;

    /* height: 360px; */
    /* test */
}

.big.card{
    text-align: left;
}


.btn-blue{
    width: 80%;
    background-color: #0084FD;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
}

.big.card img{
    width: 100%;

}

.small.card i{
    font-size: 70px;
    color: #0084FD;
}

/* FINE PRIMA SEZIONE */

/* SECONDA SEZIONE */

.bg-blue{
    background-color: #9792E4;
}

.planning{
    padding: 60px 0;
}

.planning .col-left, .planning .col-right{
    border-radius: 20px;


    padding: 10px;
    width: 100%;
    height: 600px;
    background-color: white;
    /* test */
}

.col-left img{
    width: 100%;
}

/* FINE SECONDA SEZIONE */

/* TERZA SEZIONE */

.partners{
    padding-top: 50px;
    padding-bottom: 100px;
}

.testimonials{
    width: 100%;
    text-align: center;

    padding: 20px 0;
}

.testimonials.text{

    height: 350px;
    /* test */
}

.testimonials.bg-blue{
    border-radius: 20px;

    height: 500px;
    /* test */
}

/* FINE TERZA SEZIONE */

/* QUARTA SEZIONE */


.title{
    padding: 60px 0;

    color: white;
    font-size: 35px;
    text-align: center;
}

.benefits{
    padding-bottom: 60px;
}

.benefits-card{
    
    width: 100%;

    border-radius: 20px;
    padding: 35px 25px 25px;

    background-color: white;

    height: 400px;
    /* test */

}

/* FINE QUARTA SEZIONE */

/* QUINTA SEZIONE */

.about-us{
    padding: 80px 0;
}

.about-us .col-left{
    width: 100%;

    border: 1px solid black;
    height: 950px;
    /* test */
}

.about-us .col-right{
    width: 100%;

    border: 1px solid black;
    height: 430px;
    /* test */
}

/* FINE QUINTA SEZIONE */


/* SESTA SEZIONE */

.get-started{
    width: 100%;

    padding: 60px 0;

    text-align: center;

    height: 500px;
    /* test */

}

/* FINE SESTA SEZIONE */


/* FOOTER */

footer{
    background-color: #333333;
}

.ft-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    padding: 40px 0;

    color: white;
    text-align: center;
}

.ft-container p:first-child{
    margin-bottom: 60px;
}

/* FINE FOOTER */


/* RESPONSIVE */

/* MEDIA QUERY PER TABLET 768px */

@media screen and (min-width: 768px){

    /* PRIMA SEZIONE */

    .row.card-inner{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 3 - 25px * 2 );
    }

    .big.card{
        width: calc(66% - 25px);
    }

    



    /* QUARTA SEZIONE */

    .row.benefits{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefits-card{
        width: calc(100% / 2 - 25px);
    }


    /* QUINTA SEZIONE */

    .row.about-us{
        flex-direction: row;
    }

    .about-us .col-left{
        width: 60%;
    }

    .about-us .col-right{
        width: 40%;
    }
}


/* MEDIA QUERY PER DESKTOP 1200px */

@media screen and (min-width: 1200px) {

    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /* NAVBAR */

    
    .navlinks ul{
        display: flex;
        gap: 20px;
    }
    
    
    .navlinks ul li{
        visibility: visible;
        font-size: 16px;  
        
    }
    
    .fa-solid.fa-bars{
        display: none;
    }

    /* SECONDA SEZIONE */

    .row.planning{
        flex-direction: row;
    }

    .planning .col-left, .planning .col-right{
        width: calc(50% - 25px);
    }


    /* QUARTA SEZIONE */

    .row.benefits{
        justify-content: space-between;
    }

    .benefits-card{
        width: calc(100% / 3 - 50px);

    }

    /* SESTA SEZIONE */

    .container.small{
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }


    /* FOOTER */
    .ft-container{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    
}


